services:
  luminary-deutsch-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: luminary-deutsch-prod
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    restart: always
